* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", sans-serif;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

header h1 {
  margin: 50px 0px 30px 0px;
  text-align: center;
  font-size: 40px;
}
header p {
  font-size: 25px;
}

.sounds {
  background: lightblue;
  width: 100%;
  display: flex;
}
.sounds > div {
  height: 100px;
  width: 100px;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  font-size: 25px;
}
.sounds > div:nth-child(1) {
  background: #60d394;
}
.sounds > div:nth-child(2){
  background: #d36060;
}
.sounds > div:nth-child(3) {
  background: #c060d3;
}
.sounds > div:nth-child(4) {
  background: #d3d160;
}
.sounds > div:nth-child(5) {
  background: #606bd3;
}
.sounds > div:nth-child(6){
  background: #60c2d3;
}

.bubbles > div {
  position: absolute;
  bottom: 0%;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transform: scale(1);
  z-index: -1;
}

@keyframes bubbles {
  0% {
    bottom: 0%;
    left: 0%;
    transform: scale(1);
  }
  50% {
    bottom: 65%;
    left: 50%;
    transform: scale(2.5);
  }
  100% {
    bottom: 00%;
    left: 100%;
    transform: scale(1);
  }
}
